.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: arial;
    background-color: #fcf5eb;

}

.container{
    width: 1080px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.Download_button{
    background-color: #25d366;
    color: #1c1e21;
    padding: 16px 28px;
    font-size: 16px;
    border: 1PX solid #1c1e21;
    border-radius: 40%;
    overflow: hidden;
    z-index: 1;
}
.Download_button::after{
    background-color: #111 !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    top: 100%;
    bottom: auto;
    z-index: -1;
    transition: 0.6s !important;
    
}
.Download_button:hover{
color: white;
}
.Download_button:hover::after{
    top: 0%;
    transform: scale(2);
}
nav{
    padding: 30px 50px 100px 50px;
}

nav .logo, 
nav .menu,
nav .download-button-grp{
    width: 33.33%;
}

nav .logo img{
    width: 120px;
}
nav .download-button-grp ul li{
    display: inline-block;
}
nav .menu ul li{
    display: inline-block
}
nav .download-button-grp ul li a,
nav .menu ul li a{
    color: #1c1e21;
    font-size: 18px;
    line-height: 25px;
    margin: 0 10px;
    position: relative;
    display: block;
}
nav .download-button-grp ul li a::after,
nav .menu ul li a::after{
    content: "";
    width: 0px;
    height: 2px;
    background-color: #25d366;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.3s;
}
nav .download-button-grp ul li:hover a::after,
nav .menu ul li:hover a::after{
    width: 100px;
}

nav .download-button-grp ul{
    text-align: right;
}

.download-button-grp ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}